{% extends 'base.html' %}

{% block title %}{{article.title}} {% endblock %}


{% block content %}
 <style>
   p {
    text-indent: 70px; /* Отступ первой строки в пикселах */
   }
  </style>

<div class="block1">

<center>
   <h1 style="font-size: 250%" > <strong> {{article.title}} </strong></h1>

   <h2 style="font-size: 100%" >  {{article.period}} </h2>



{% if article.image %}
   <h2> <img src="{{ article.image.url }}" style="width:800px; "></h2>
{% endif %}

{% if article.period1 %}
   <p style="text-align: left"> <strong>  Влияние: </strong> {{article.period1}} </p>
{% endif %}
{% if article.period2 %}
   <p style="text-align: left"> <strong>  Символы: </strong> {{article.period2}} </p>
{% endif %}

{% if article.period3 %}
   <p style="text-align: left"> <strong>  Цвета: </strong> {{article.period3}} </p>
{% endif %}
{% if article.period4 %}
   <p style="text-align: left"> <strong>  Камни: </strong> {{article.period4}} </p>
{% endif %}
{% if article.period5 %}
   <p style="text-align: left"> <strong>  Металл: </strong> {{article.period5}} </p>
{% endif %}
{% if article.period6 %}
   <p style="text-align: left"> <strong>  Талисман: </strong> {{article.period6}} </p>
{% endif %}
{% if article.period7 %}
   <p style="text-align: left"> <strong>  Благоприятные числа: </strong> {{article.period7}} </p>
{% endif %}


<p style="text-align: justify">{{article.text}} </p>


{% if article.text1 %}
   <p style="text-align: justify">{{article.text1}} </p>
{% endif %}

{% if article.text2 %}
   <p style="text-align: justify">{{article.text2}} </p>
{% endif %}

{% if article.image2 %}
   <h2> <img src="{{ article.image2.url }}" style="width:1000px; height:800px;"></h2>
{% endif %}


{% if article.text3 %}
   <p style="text-align: justify">{{article.text3}} </p>
{% endif %}

{% if article.text4 %}
   <p style="text-align: justify">{{article.text4}} </p>
{% endif %}

{% if article.text5 %}
   <p style="text-align: justify">{{article.text5}} </p>
{% endif %}


{% if article.text6 %}
   <p style="text-align: justify">{{article.text6}} </p>
{% endif %}
{% if article.text7 %}
   <p style="text-align: justify">{{article.text7}} </p>
{% endif %}
{% if article.text8 %}
   <p style="text-align: justify">{{article.text8}} </p>
{% endif %}
{% if article.text9 %}
   <p style="text-align: justify">{{article.text9}} </p>
{% endif %}
{% if article.text10 %}
   <p style="text-align: justify">{{article.text10}} </p>
{% endif %}
{% if article.text11 %}
   <p style="text-align: justify">{{article.text11}} </p>
{% endif %}
{% if article.text12 %}
   <p style="text-align: justify">{{article.text12}} </p>
{% endif %}
{% if article.text13 %}
   <p style="text-align: justify">{{article.text13}} </p>
{% endif %}
{% if article.text14 %}
   <p style="text-align: justify">{{article.text14}} </p>
{% endif %}
{% if article.text15 %}
   <p style="text-align: justify">{{article.text15}} </p>
{% endif %}
{% if article.text16 %}
   <p style="text-align: justify">{{article.text16}} </p>
{% endif %}
{% if article.text17 %}
   <p style="text-align: justify">{{article.text17}} </p>
{% endif %}

{% if article.image1 %}
   <h2> <img src="{{ article.image1.url }}" style="width:1000px; height:800px;"></h2>
{% endif %}



{% if article.text18 %}
   <p style="text-align: justify">{{article.text18}} </p>
{% endif %}
{% if article.text19 %}
   <p style="text-align: justify">{{article.text19}} </p>
{% endif %}
{% if article.text20 %}
   <p style="text-align: justify">{{article.text20}} </p>
{% endif %}
{% if article.text21 %}
   <p style="text-align: justify">{{article.text21}} </p>
{% endif %}
{% if article.text22 %}
   <p style="text-align: justify">{{article.text22}} </p>
{% endif %}
{% if article.text23 %}
   <p style="text-align: justify">{{article.text23}} </p>
{% endif %}
{% if article.text24 %}
   <p style="text-align: justify">{{article.text24}} </p>
{% endif %}



{% if article.text25 %}
   <p style="text-align: justify">{{article.text25}} </p>
{% endif %}
{% if article.text26 %}
   <p style="text-align: justify">{{article.text26}} </p>
{% endif %}
{% if article.text27 %}
   <p style="text-align: justify">{{article.text27}} </p>
{% endif %}
{% if article.text28 %}
   <p style="text-align: justify">{{article.text28}} </p>
{% endif %}
{% if article.text29 %}
   <p style="text-align: justify">{{article.text29}} </p>
{% endif %}
{% if article.text30 %}
   <p style="text-align: justify">{{article.text30}} </p>
{% endif %}
{% if article.text31 %}
   <p style="text-align: justify">{{article.text31}} </p>
{% endif %}
{% if article.text32 %}
   <p style="text-align: justify">{{article.text32}} </p>
{% endif %}
{% if article.text33 %}
   <p style="text-align: justify">{{article.text33} </p>
{% endif %}
{% if article.text34 %}
   <p style="text-align: justify">{{article.text34}} </p>
{% endif %}
{% if article.text35 %}
   <p style="text-align: justify">{{article.text35}} </p>
{% endif %}





</center>

</div>

{% endblock %}
